@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(to right, #f39c12, #8e44ad);
}

.footer-icon {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .footer-icon:hover {
    filter: none;
    transform: scale(1.2);
    transition: 1s ease;
  }
  
  